@media(min-width: 576px){
    .w1-sm {width : 8.33%;}
    .w2-sm {width : 16.66%;}
    .w3-sm {width : 25%;}
    .w4-sm {width : 33.33%;}
    .w5-sm {width : 41.66%;}
    .w6-sm {width : 50%;}
    .w7-sm {width : 58.33%;}
    .w8-sm {width : 66.66%;}
    .w9-sm {width : 75%;}
    .w10-sm {width : 83.33%;}
    .w11-sm {width : 91.66%;}
    .w12-sm {width : 100%;}
    .container{
        width: 540px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 0, 217); */
    }
    .h-icon{
        padding-right: 10px;
    }
    .h-icon a{
        padding: 0px 8px;
        font-size: 18px;
    }
    .header-div::after{
        animation: border-1 10s linear 0.8s infinite backwards;
    }
    .bnr-cnt>h1{
        font-size: 40px;
        font-weight: 100;
        line-height: 40px;
    }
    .main-bnr{
        height: 100vh;
        border-bottom: 1px solid var(--200);
    }
    .bnr-cnt{
        top: 35%;
    }
    .main-bnr-part2{
        background-position: 60% 45%;
    }
    .main-bnr-price{
        bottom: 25%;
    }
    .main-bnr-price>span{
        font-size: 16px;
    }
    .main-bnr-price>h2{
        line-height: 90px;
        font-size: 28px;
    }
    .main-bnr-price>a{
        font-size: 14px;
    }
}
@media(min-width: 768px){ 
    .w1-md {width : 8.33%;}
    .w2-md {width : 16.66%;}
    .w3-md {width : 25%;}
    .w4-md {width : 33.33%;}
    .w5-md {width : 41.66%;}
    .w6-md {width : 50%;}
    .w7-md {width : 58.33%;}
    .w8-md {width : 66.66%;}
    .w9-md {width : 75%;}
    .w10-md {width : 83.33%;}
    .w11-md {width : 91.66%;}
    .w12-md {width : 100%;}
    .container{
        width: 720px;
        margin: 0 auto;
        /* border: 1px solid rgb(0, 68, 253); */
    }
    .main-bnr-price>span{
        font-size: 18px;
    }
    .main-bnr-price>h2{
        line-height: 90px;
        font-size: 40px;
    }
    .main-bnr-price>a{
        font-size: 16px;
    }
    .add{
        width: 40px;
        padding: 8px 0px 30px;
    }
    .add a{ 
        font-size: 12px;
    }
    .add a i{
        font-size: 20px;
    }
}
@media(min-width: 992px){
    .w1-lg {width : 8.33%;}
    .w2-lg {width : 16.66%;}
    .w3-lg {width : 25%;}
    .w4-lg {width : 33.33%;}
    .w5-lg {width : 41.66%;}
    .w6-lg {width : 50%;}
    .w7-lg {width : 58.33%;}
    .w8-lg {width : 66.66%;}
    .w9-lg {width : 75%;}
    .w10-lg {width : 83.33%;}
    .w11-lg {width : 91.66%;}
    .w12-lg {width : 100%;}
    .container{
        width: 960px;
        margin: 0 auto;
        /* border: 1px solid rgb(43, 255, 0); */
    }
    .main-bnr-price{
        padding-left: 15%;
    }
}
@media(min-width: 1200px){
    .w1-xl {width : 8.33%;}
    .w2-xl {width : 16.66%;}
    .w3-xl {width : 25%;}
    .w4-xl {width : 33.33%;}
    .w5-xl {width : 41.66%;}
    .w6-xl {width : 50%;}
    .w7-xl {width : 58.33%;}
    .w8-xl {width : 66.66%;}
    .w9-xl {width : 75%;}
    .w10-xl {width : 83.33%;}
    .w11-xl {width : 91.66%;}
    .w12-xl {width : 100%;}
    .container{
        width: 1140px;
        margin: 0 auto;
        /* border: 1px solid rgb(242, 247, 0); */
    }
    .nav{
        display: flex;
        align-items: center;
    }
    .nav ul{
         /* display: block; */
        /* visibility: visible; */
        /* float: left; */
        display: flex;
        /* align-items: center; */
    }
    .bar{
        display: none;
    }
    .bnr-cnt>span{
        font-weight: 600;
        font-size: 14px;
        margin-left: 10%;
    }
    .bnr-cnt>span::before{
        border-left: 24px solid var(--900);
        height: 3px;
        top: 40%;
        left: -50%;
    }
    .bnr-cnt>h1{
        margin: 40px 0px;
        font-size: 90px;
        font-weight: 100;
        line-height: 70px;
    }
    .bnr-cnt>a{
        font-size: 14px;
        padding: 14px 35px 14px;
    }
    .main-bnr-price>span{
        font-size: 22px;
    }
    .main-bnr-price>h2{
        line-height: 90px;
        font-size: 50px;
    }
    .main-bnr-price>a{
        font-size: 20px;
    }
    .bnr-part1{
        padding: 35px 80px 100px;
    }
    .bnr-part1 h4{
        font-size: 46px;
    }
    .bnr-part1 p{
        font-size: 16px;
    }
    .add{
        width: 50px;
        padding: 10px 0px 40px;
        top: 50%;
    }
    .add a{ 
        font-size: 16px;
    }
    .add a i{
        font-size: 25px;
    }

}
@media(min-width: 1400px){
    .w1-xxl {width : 8.33%;}
    .w2-xxl {width : 16.66%;}
    .w3-xxl {width : 25%;}
    .w4-xxl {width : 33.33%;}
    .w5-xxl {width : 41.66%;}
    .w6-xxl {width : 50%;}
    .w7-xxl {width : 58.33%;}
    .w8-xxl {width : 66.66%;}
    .w9-xxl {width : 75%;}
    .w10-xxl {width : 83.33%;}
    .w11-xxl {width : 91.66%;}
    .w12-xxl {width : 100%;}
    .container{
        width: 1320px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 1, 1); */
    }
    .main-bnr-part2{
        background-size: auto;
    }
    .nav ul li{
        padding: 0px 14px;
    }
}