body {
	position: relative;
}

.container {
	max-width: 1540px;
	margin: 0 auto;
	width: 315px;
}


/* loader start*/
.loader-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: white;
	/* z-index: 4; */
}

.loader {
	border: 10px solid yellow;
	border-right: 10px solid green;
	height: 300px;
	width: 300px;
	animation: loader 1s linear infinite;
	border-radius: 100%;
	position: absolute;
	left: calc(50% - (300px/2));
	top: calc(50% - (300px/2));
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* loader end*/


/*  HEADER START */
header {
	/* background-color: var(--black); */
	padding: 20px;
	width: 100%;
	margin: auto;
	/* position: absolute; */
	top: 0px;
	align-items: center;
	z-index: 1;
}

.menu {
	margin-right: 20px;
	display: none;
}

.menu .menu-ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.bar {
	color: var(--black);
	;
}

.menu .menu-ul .menu-ul-li {
	list-style: none;
	padding: 5px 5px 5px;
	position: relative;
}

.menu .menu-ul .a {
	transition: var(--transition4);
	text-decoration: none;
	color: var(--black);
	font-size: 18px;
	font-weight: 600;
}

.menu .menu-ul .a:hover {
	color: var(--secondery);
}

.menu .menu-ul .menu-item {
	padding: 14px;
	margin: 3px;
	padding-left: 25px;
}

.menu .menu-ul .menu-item1 {
	padding-left: 25px;
}

.menu-ul .menu-ul-li:hover .sub-menu {
	visibility: visible !important;
	transform: translateY(50px);
	transform-origin: top center;
	transition: all 0.3s linear;
	left: 33px;
}

.menu .menu-item::after {
	content: '\f105';
	font-family: fontAwesome;
	font-size: 12px;
	position: absolute;
	top: 11px;
	right: 6px;
	transition: var(--transition4);
	color: var(--black);

}

.menu .menu-item:hover::after {
	rotate: 90deg;
	color: var(--secondery);
}

.menu .icon {
	margin-left: 48px;
	position: relative;
}

.menu .icon:before {
	content: "0";
	font-size: 12px;
	padding: 1px 6px;
	background-color: var(--red);
	border-radius: 50%;
	/* margin:auto; */
	position: absolute;
	left: -18px;
	top: 7px;
}

.menu .icon-item {
	padding: 3px;
}

.menu .menu-ul .menu-ul-li .sub-menu {
	background-color: var(--white);
	text-align: left;
	transition: all 0.1s linear;
	position: absolute;
	width: 200px;
	visibility: hidden;
	transform: translateY(10px);
}

.menu .menu-ul .menu-ul-li .sub-menu-li {
	position: relative;
	padding: 10px 20px;
}

.menu .menu-ul .menu-ul-li .sub-menu-li:hover {
	background-color: var(--secondery);
	color: var(--white);
}

.menu .menu-ul .menu-ul-li .sub-menu-li:hover>a {
	color: var(--white);
}

.sub-sub::after {
	content: '\f105';
	font-family: fontAwesome;
	font-size: 12px;
	position: relative;
	top: 0px;
	right: -10px;
}

.menu .menu-ul .menu-ul-li .sub-menu-li-ul li:hover>a {
	color: var(--white);
}

.sub-menu .sub-menu-li .sub-menu-li-ul {
	visibility: hidden;
	position: absolute;
	top: 0px;
	transform: translateX(-200px);
	width: 200px;
	color: black;
	background-color: var(--white);
	text-align: left;
	transition: all 0.1s linear;
}

.sub-menu a {
	color: black;
}

.sub-menu-li:hover .sub-menu-li-ul {
	visibility: visible !important;
	left: 50px;
	transform: translateX(-250px);
	transform-origin: top center;
}

.sub-menu-li-ul li {
	padding: 10px 20px;
}

.sub-menu-li-ul li:hover {
	background-color: var(--secondery);
	color: var(--white);
}

.sub-menu li {
	color: var(--primary);
}

.setting {
	margin-left: 15px;
	position: relative;
}

.setting-btn i {
	animation: setting 2s linear infinite;
	padding: 11px 10px 8px;
}

@keyframes setting {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.color {
	display: none;
	position: absolute;
	left: calc(50% - (20px/2));
}

.color>li {
	margin-bottom: 5px;
}

#og{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: var(--secondery);
}
#skyblue{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: skyblue;
}
#green{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: green;
}
.og{
	background-color: white;
}
.skyblue{
	background-color: skyblue;
}
.green{
	background-color: rgb(121, 233, 126);
}
/* HEADER END */


/* BREAD CRAMB START */
.bread-cramb {
	background-image: url(../img/contact-bg1.jpg);
	background-repeat: no-repeat;
}

.bc-contact {
	padding: 100px 0px;
}

.bc-contact>h1 {
	color: var(--white);
	font-size: 65px;
	margin-bottom: 15px;
}

.bc-contact .home-page {
	color: var(--secondery);
	font-weight: 700;
}

.bc-contact>a {
	color: var(--white);
	font-weight: 700;
}

/* BREAD CRAMB END */


/* CENTRAL OFFICE START */

.cent-ofc {
	padding: 80px 0px;
}

.cont-num {
	margin-top: 40px;
	position: relative;
	margin-left: 40px;
}

.cont-num::before {
	content: '\f095';
	font-family: fontAwesome;
	position: absolute;
	left: -10%;
	font-size: 20px;
	color: var(--secondery);
}

.cont-skype {
	margin-top: 28px;
	position: relative;
	margin-left: 40px;
}

.cont-skype::before {
	content: '\f17e';
	font-family: fontAwesome;
	position: absolute;
	left: -10%;
	font-size: 25px;
	color: var(--secondery);
}

.cont-add {
	margin-top: 28px;
	position: relative;
	margin-left: 40px;
}

.cont-add::before {
	content: '\f3c5';
	font-family: fontAwesome;
	position: absolute;
	left: -10%;
	font-size: 20px;
	color: var(--secondery);
}

.social {
	line-height: 40px;
	margin-top: 50px;
}

.social-media>li {
	margin-right: 10px;
	font-size: 40px;
}

.social-media a {
	overflow: hidden;
	border-radius: 100%;
}

.fa-facebook {
	color: blue;
}

.fa-square-twitter {
	color: skyblue;
}

.fa-square-youtube {
	color: red;
}

.fa-square-instagram {
	color: rgb(83, 82, 82);
}

.office-add>h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

.office-add>span {
	color: var(--primary);
}

.office-add p a {
	color: var(--black);
	font-size: 16px;
}

.opening-time {
	background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
}

.open-border {
	border: 8px solid var(--white);
	padding: 80px 40px;
}

.open-border>h3 {
	text-align: center;
	color: var(--white);
	font-size: 36px;
	margin-bottom: 25px;
}

.open-border>p {
	color: var(--white);
	font-size: 22px;
	line-height: 30px;
}

.form {
	background-color: #f6f6f6;
	padding: 50px 50px 50px;
	height: 100%;
}

.form>label {
	font-size: 18px;
	font-weight: 700;
}

.form>input {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 40px;
	border: none;
}

.form>input[type="area"] {
	height: 100px;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 40px;
}

.office-btn-div {
	text-align: center;
	padding-top: 8px;
}

.office-btn-div>a {
	background-color: var(--secondery);
	color: white;
	font-weight: 700;
	padding: 12px 40px;
}

/* CENTRAL OFFICE END */


/* BTANCHES START */
.branches {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
	padding: 10px 10px 50px;
}

.branches .delivery-points {
	padding-top: 12%;
	padding-bottom: 10%;
}

.branches .delivery-points .dp-title {
	font-size: 34px;
	font-weight: 700;
	color: var(--primary)
}

.branches .delivery-points .dp-dsc {
	font-size: 18px;
	font-weight: 300;
	color: var(--primary);
	padding-bottom: 40px;
}

.branches .delivery-points .dp-sub-title {
	font-size: 30px;
	font-weight: 600;
	color: var(--secondery);
}

.branches .delivery-points .locations {
	width: 100%;
	padding: 20px 20px 40px;
	column-count: 1;
}

.branches .delivery-points .locations li {
	list-style: none;
}

.branches .delivery-points .locations .dp-contry-a {
	position: relative;
	font-size: 18px;
	font-weight: 300;
	color: var(--primary);
	margin-bottom: 16px;
	line-height: 35px;
}

.branches .delivery-points .locations .dp-contry-a:hover {
	color: var(--secondery);
	transition: all 0.2s linear;
}

.branches .delivery-points .locations .dp-contry-a::before {
	content: "\f105";
	font-family: fontAwesome;
	font-weight: 100;
	font-size: 13px;
	position: absolute;
	left: -20px;
	top: -5px;
	color: var(--primary);
}

.branches .delivery-points .locations .dp-contry-cnt {
	font-size: 18px;
	font-weight: 300;
	color: var(--primary)
}

.branches .delivery-points .dp-btn {
	background-color: var(--secondery);
	/* padding: 14px 40px 14px; */
	padding: 4px 10px 4px;
	color: var(--white);
	font-weight: 700;
}

.branches .delivery-points .dp-btn:hover {
	background-color: var(--white);
	border: 1px solid var(--black);
	color: var(--black);
	transition: all 0.3s linear;
}

.branches .bnc-map {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.branches .bnc-map .bnc-map-img {
	width: 100%;
}

/* BTANCHES END */


/* MAP START */
.map {
	width: 100%;
}

.map iframe {
	width: 100%;
	height: 100vh;
}

/* MAP END */


/* FOOTER START */
.footer {
	background-color: var(--primary);
	position: relative;
}

.footer .ftr-main {
	background-image: url(../img/ftr-map.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 60px 0px 120px;
	width: 100%;
}

.footer .ftr-main .ftr-info .ftr-marg {
	padding-bottom: 50px;
	padding-left: 10px;
}

.footer .ftr-main .ftr-info .pur-theme .pur-thm-dsc {
	color: rgba(255, 255, 255, .5);
	font-weight: 300;
	line-height: 30px;
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-right: 20px;
}

.footer .ftr-main .ftr-info .pur-theme .thm-btn {
	background-color: var(--secondery);
	color: var(--primary);
	font-size: 14px;
	font-weight: 600;
	padding: 8px 30px 8px;
	transition: all 0.3s linear;
}

.footer .ftr-main .ftr-info .pur-theme .thm-btn:hover {
	background-color: var(--white);
	transition: all 0.3s linear;
}

.footer .ftr-main .ftr-info .frt-exp {
	color: var(--secondery);
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 12px;
}

.footer .ftr-main .ftr-info .ftr-ul {
	column-count: 1;
}

.footer .ftr-main .ftr-info .ftr-ul li {
	list-style: none;
	padding: 5px 0px;
}

.footer .ftr-main .ftr-info .ftr-a {
	color: var(--white);
	font-size: 18px;
	font-weight: 700;
	padding-left: 25px;
	padding-bottom: 10px;
	position: relative;
	transition: all 0.3s linear;

}

.footer .ftr-main .ftr-info .ftr-a:hover {
	color: var(--secondery);
	transition: all 0.3s linear;

}

.footer .ftr-main .ftr-info .ftr-a::before {
	content: "\f105";
	font-family: fontAwesome;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 4px;
	color: var(--secondery);
}

.footer .ftr-main .ftr-info .ftr-exp-div {
	padding-left: 30px;
}

.footer .ftr-main .ftr-info .ftr-exp-div .location {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	position: relative;
}

.footer .ftr-main .ftr-info .ftr-exp-div .location::before {
	content: "\f3c5";
	font-family: fontAwesome;
	font-size: 16px;
	position: absolute;
	left: -30px;
	top: 6px;
	color: var(--secondery);
}

.footer .ftr-main .ftr-info .ftr-exp-div .Contect {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	position: relative;
}

.footer .ftr-main .ftr-info .ftr-exp-div .Contect::before {
	content: "\f095";
	font-family: fontAwesome;
	font-size: 16px;
	position: absolute;
	left: -30px;
	top: 6px;
	color: var(--secondery);
}

.footer .ftr-main .ftr-info .ftr-exp-div .email {
	color: var(--white);
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	position: relative;
	transition: all 0.3s linear;
}

.footer .ftr-main .ftr-info .ftr-exp-div .email:hover {
	color: var(--secondery);
	transition: all 0.3s linear;
}

.footer .ftr-main .ftr-info .ftr-exp-div .email::before {
	content: "\f0e0";
	font-family: fontAwesome;
	font-size: 16px;
	position: absolute;
	left: -30px;
	top: 6px;
	color: var(--secondery);
}

.footer .ftr-main .ftr-info .ftr-exp-div .skype {
	color: var(--white);
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	position: relative;
}

.footer .ftr-main .ftr-info .ftr-exp-div .skype:hover {
	color: var(--secondery);
	transition: all 0.3s linear;
}

.footer .ftr-main .ftr-info .ftr-exp-div .skype::before {
	content: "\f17e";
	font-family: fontAwesome;
	font-size: 16px;
	position: absolute;
	left: -30px;
	top: 6px;
	color: var(--secondery);
}

.footer .ftr-line {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-wrap: wrap; */
	/* background-color: black; */
	/* opacity: 0.3; */
	height: 70px;
	z-index: 1;
}

.footer .ftr-line .ftr-line2 {
	position: relative;
}

.footer .ftr-line .ftr-line-p {
	color: var(--secondery);
	font-weight: 200;
	opacity: 1;
}

.footer .ftr-line .ftr-line-span {
	color: var(--white);
	font-weight: 200;
}

.footer .ftr-line-o {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 70px;
	background-color: black;
	opacity: 0.3;
}

					/* FOOTER END */


					/* TOP BUTTON START */
.top-btn-div {
	/* position: fixed;
	bottom: 80px;
	right: 20px; */
	z-index: 2;
}
.fixed{
	position: fixed;
	top: 750px;
	right: 20px;
	z-index: 2;
}
.top-btn-div .top-btn {
	color: var(--primary);
	font-size: 12px;
	font-weight: 600;
	background-color: var(--secondery);
	padding: 22px 12px 8px;
	position: relative;
	transition: all 0.3s linear;
	border: 1px solid var(--secondery);
}

.top-btn-div .top-btn:hover {
	background-color: var(--white);
	transition: all 0.3s linear;
	border: 1px solid black;
}

.top-btn-div .top-btn::before {
	content: "\f062";
	font-family: fontAwesome;
	position: absolute;
	color: var(--primary);
	font-size: 14px;
	font-weight: 900;
	top: 5px;
	left: 18px;
}
				/* TOP BUTTON END */