@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-ExtraBold.woff2') format('woff2'),
        url('BodoniModa28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-ExtraBoldItalic.woff2') format('woff2'),
        url('BodoniModa28pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-SemiBoldItalic.woff2') format('woff2'),
        url('BodoniModa28pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-BoldItalic.woff2') format('woff2'),
        url('BodoniModa28pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-BlackItalic.woff2') format('woff2'),
        url('BodoniModa28pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-Bold.woff2') format('woff2'),
        url('BodoniModa48pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-Bold.woff2') format('woff2'),
        url('BodoniModa28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-BlackItalic.woff2') format('woff2'),
        url('BodoniModa48pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-Medium.woff2') format('woff2'),
        url('BodoniModa28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-Regular.woff2') format('woff2'),
        url('BodoniModa28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-SemiBold.woff2') format('woff2'),
        url('BodoniModa28pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-MediumItalic.woff2') format('woff2'),
        url('BodoniModa28pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-Black.woff2') format('woff2'),
        url('BodoniModa48pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-Black.woff2') format('woff2'),
        url('BodoniModa28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('BodoniModa28pt-Italic.woff2') format('woff2'),
        url('BodoniModa28pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-ExtraBold.woff2') format('woff2'),
        url('BodoniModa48pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-Italic.woff2') format('woff2'),
        url('BodoniModa48pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-BoldItalic.woff2') format('woff2'),
        url('BodoniModa48pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-MediumItalic.woff2') format('woff2'),
        url('BodoniModa48pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-Regular.woff2') format('woff2'),
        url('BodoniModa48pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-SemiBoldItalic.woff2') format('woff2'),
        url('BodoniModa48pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-Medium.woff2') format('woff2'),
        url('BodoniModa48pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-SemiBold.woff2') format('woff2'),
        url('BodoniModa48pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 48pt';
    src: url('BodoniModa48pt-ExtraBoldItalic.woff2') format('woff2'),
        url('BodoniModa48pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

