@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-BlackItalic.woff2') format('woff2'),
        url('BodoniModa9pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-Italic.woff2') format('woff2'),
        url('BodoniModa9pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-Black.woff2') format('woff2'),
        url('BodoniModa18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-MediumItalic.woff2') format('woff2'),
        url('BodoniModa9pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-BoldItalic.woff2') format('woff2'),
        url('BodoniModa9pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-SemiBoldItalic.woff2') format('woff2'),
        url('BodoniModa9pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-Bold.woff2') format('woff2'),
        url('BodoniModa9pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-ExtraBold.woff2') format('woff2'),
        url('BodoniModa9pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-Black.woff2') format('woff2'),
        url('BodoniModa9pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-Bold.woff2') format('woff2'),
        url('BodoniModa18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-ExtraBoldItalic.woff2') format('woff2'),
        url('BodoniModa9pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-SemiBold.woff2') format('woff2'),
        url('BodoniModa9pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-Medium.woff2') format('woff2'),
        url('BodoniModa9pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('BodoniModa9pt-Regular.woff2') format('woff2'),
        url('BodoniModa9pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-BlackItalic.woff2') format('woff2'),
        url('BodoniModa18pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-ExtraBold.woff2') format('woff2'),
        url('BodoniModa18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-Medium.woff2') format('woff2'),
        url('BodoniModa18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-Italic.woff2') format('woff2'),
        url('BodoniModa18pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-MediumItalic.woff2') format('woff2'),
        url('BodoniModa18pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-ExtraBoldItalic.woff2') format('woff2'),
        url('BodoniModa18pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-SemiBold.woff2') format('woff2'),
        url('BodoniModa18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-Regular.woff2') format('woff2'),
        url('BodoniModa18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-BoldItalic.woff2') format('woff2'),
        url('BodoniModa18pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('BodoniModa18pt-SemiBoldItalic.woff2') format('woff2'),
        url('BodoniModa18pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

