@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-ExtraBoldItalic.woff2') format('woff2'),
        url('BodoniModa72pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-BlackItalic.woff2') format('woff2'),
        url('BodoniModa72pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-Black.woff2') format('woff2'),
        url('BodoniModa72pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-ExtraBold.woff2') format('woff2'),
        url('BodoniModa72pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-Italic.woff2') format('woff2'),
        url('BodoniModa72pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-Bold.woff2') format('woff2'),
        url('BodoniModa72pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-Medium.woff2') format('woff2'),
        url('BodoniModa72pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-MediumItalic.woff2') format('woff2'),
        url('BodoniModa72pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-BoldItalic.woff2') format('woff2'),
        url('BodoniModa72pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-SemiBoldItalic.woff2') format('woff2'),
        url('BodoniModa72pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-SemiBold.woff2') format('woff2'),
        url('BodoniModa72pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 72pt';
    src: url('BodoniModa72pt-Regular.woff2') format('woff2'),
        url('BodoniModa72pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

