@media(min-width: 576px){
    .w1-sm {width : 8.33%;}
    .w2-sm {width : 16.66%;}
    .w3-sm {width : 25%;}
    .w4-sm {width : 33.33%;}
    .w5-sm {width : 41.66%;}
    .w6-sm {width : 50%;}
    .w7-sm {width : 58.33%;}
    .w8-sm {width : 66.66%;}
    .w9-sm {width : 75%;}
    .w10-sm {width : 83.33%;}
    .w11-sm {width : 91.66%;}
    .w12-sm {width : 100%;}
    .container{
        width: 540px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 0, 217); */
    }
   
}   
@media(min-width: 768px){ 
    .w1-md {width : 8.33%;}
    .w2-md {width : 16.66%;}
    .w3-md {width : 25%;}
    .w4-md {width : 33.33%;}
    .w5-md {width : 41.66%;}
    .w6-md {width : 50%;}
    .w7-md {width : 58.33%;}
    .w8-md {width : 66.66%;}
    .w9-md {width : 75%;}
    .w10-md {width : 83.33%;}
    .w11-md {width : 91.66%;}
    .w12-md {width : 100%;}
    .container{
        width: 720px;
        margin: 0 auto;
        /* border: 1px solid rgb(0, 68, 253); */
    }

   
   
}
@media(min-width: 992px){
    .w1-lg {width : 8.33%;}
    .w2-lg {width : 16.66%;}
    .w3-lg {width : 25%;}
    .w4-lg {width : 33.33%;}
    .w5-lg {width : 41.66%;}
    .w6-lg {width : 50%;}
    .w7-lg {width : 58.33%;}
    .w8-lg {width : 66.66%;}
    .w9-lg {width : 75%;}
    .w10-lg {width : 83.33%;}
    .w11-lg {width : 91.66%;}
    .w12-lg {width : 100%;}
    .container{
        width: 960px;
        margin: 0 auto;
        /* border: 1px solid rgb(43, 255, 0); */
    }
    .testimonial {
        padding: 120px 100px;
    }
   
}
@media(min-width: 1200px){
    .w1-xl {width : 8.33%;}
    .w2-xl {width : 16.66%;}
    .w3-xl {width : 25%;}
    .w4-xl {width : 33.33%;}
    .w5-xl {width : 41.66%;}
    .w6-xl {width : 50%;}
    .w7-xl {width : 58.33%;}
    .w8-xl {width : 66.66%;}
    .w9-xl {width : 75%;}
    .w10-xl {width : 83.33%;}
    .w11-xl {width : 91.66%;}
    .w12-xl {width : 100%;}
    .container{
        width: 1140px;
        margin: 0 auto;
        /* border: 1px solid rgb(242, 247, 0); */
    }
    .testimonial {
        padding: 150px 128px;
    }
    
}
@media(min-width: 1400px){
    .w1-xxl {width : 8.33%;}
    .w2-xxl {width : 16.66%;}
    .w3-xxl {width : 25%;}
    .w4-xxl {width : 33.33%;}
    .w5-xxl {width : 41.66%;}
    .w6-xxl {width : 50%;}
    .w7-xxl {width : 58.33%;}
    .w8-xxl {width : 66.66%;}
    .w9-xxl {width : 75%;}
    .w10-xxl {width : 83.33%;}
    .w11-xxl {width : 91.66%;}
    .w12-xxl {width : 100%;}
    .container{
        width: 1320px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 1, 1); */
    }
    
   
}