@font-face {
    font-family: 'Belleza';
    src: url('Belleza-Regular.woff2') format('woff2'),
        url('Belleza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seaweed Script';
    src: url('SeaweedScript-Regular.woff2') format('woff2'),
        url('SeaweedScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a Auto Signature';
    src: url('aAutoSignature.woff2') format('woff2'),
        url('aAutoSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


