.swiper {
    width: 540px;
    height: 600px;
    position: absolute;
    left: calc(50% - 270px);
    top: calc(50% - 300px);
    z-index: 5;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }