*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
	font-family: 'Belleza', sans-serif;
	text-decoration:none;
	list-style: none;
}
html{scroll-behavior: smooth;}
										/* ROOTS START */
:root{
	--header-bg: #292e32;
	--search-bg: #f3f3f9;

	--aside-light: #405189;
	--aside-dark: #212529;

	--vz-alert-color: #b98a38;
    --vz-alert-bg: #fef4e4;

	--font-color: #878a99;
	--font-color1: #4a4b52;
	--font-color2: #3a3b3f;
	--font-color3: #838fb9;
	--font-color4: #a5b3e9;
	--font-color5: rgb(54, 159, 190);

	--btn-hover-color: #dce8ff;
	--btn-hover-bg: rgba(53, 119, 241, 0.1);
	--btn-hover-border-color: transparent;
	--bottom-border: rgb(218, 222, 223);

	--btn-bg1:rgb(240, 240, 240);
	--btn-bg2: #dce8ff;

	--background-light: #f3f3f9;
	--background-dark: #1a1d21;

	--sub-back-dark: #212529;

		
	--transition2: all 0.2s linear;
	--transition4: all 0.4s linear;
	--transition8: all 0.8s linear;
	--gutter-width: 12px;


	--aside-width: 300px;

}
										/* ROOTS END */


										
										/* OTHER CLASS START */

.justify-center {justify-content:center;}
.justify-between {justify-content :space-between;}
.justify-evenly {justify-content: space-evenly;}
.align-center {align-items: center;}
.text-center {text-align:center;}
.float-r{float: right;}

		

/* OTHER CLASS END */