body {
    position: relative;
}

#body::-webkit-scrollbar {
    width: 12px;
}

#body::-webkit-scrollbar-track {
    background: #5c5d5d;
    border-radius: 10px;
}

#body::-webkit-scrollbar-thumb {
    background: #717af7;
    border-radius: 10px;
}

#body::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* HEARED START */
#header {
    z-index: 20;
}

.nav-hover {
    position: relative;
    letter-spacing: 5px;
}

.ls5 {
    position: relative;
    letter-spacing: 5px;
}

.ls5::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 70%;
    border-bottom: 2px solid #000000;
    transition: all 0.2s linear;
}

.ls5:hover::after {
    width: 0%;
}

.nav-hover::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: all 0.2s linear;
}

.nav-hover:hover::after {
    width: 90%;
}

.nav-hover.active::after {
    width: 90%;
}

.text-hover-light:hover {
    color: white !important;
}

.main-menu:hover .sub-menu {
    display: block !important;
}

/* HEARED END */


/* ----------------------------- */
/* MAIN SATRT */
/* ----------------------------- */

/* home start */
.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.home-bg-font {
    font-size: 48px;
    line-height: 60px;
    color: #c3c3c3;
}

.links {
    z-index: 6;
    bottom: 5%;
    right: 10%;
}

/* home end */


/* tailor-made start */
.z-5 {
    z-index: 5;
}

.signture {
    font-family: 'a Auto Signature' !important;
    color: #d3691d;
    line-height: 60px;
    text-shadow: 10px 10px 5px rgb(88, 88, 88);

}

.signture1 {
    font-family: 'Seaweed Script', cursive !important;
    color: #d3691d;
    ;
    line-height: 60px;
    text-shadow: 10px 10px 5px rgb(88, 88, 88);
}

.signture2 {
    font-family: 'a Auto Signature' !important;
    color: #d3691d;
    line-height: 60px;
}

.text-shadow {
    text-shadow: 10px 10px 5px rgb(88, 88, 88);
}

.tailor-img-detail {
    bottom: -40% !important;
}

.carousel-inner {
    padding-bottom: 120px;
}

/* tailor-made end */


/* New Pieces start */
.new-pieces,
.ELEGANT,
.counter,
.video-div {
    padding: 20px;
}

.dark-back {
    transition: all 0.5s linear;
}

.dark-back:hover {
    background-color: #000000;
    opacity: .7;
}

.dark-back:hover .add-cart-hover {
    visibility: visible;
}

.add-cart-hover {
    visibility: hidden;
}

.add-cart-hover::after {
    content: '';
    position: absolute;
    right: -20%;
    bottom: 50%;
    width: 90%;
    border-bottom: 3px solid #ffffff;
    transition: all 0.2s linear;
}

.add-cart-hover:hover::after {
    width: 0%;
}

.card-img {
    overflow: hidden;
}

/* New Pieces end */


/* counter start */
.counter {
    padding: 100px 0px;
}

.counter-icon {
    height: 80px;
    width: 80px;
    border: 10px solid #d3691d;
}

.blue-back {
    background-color: #f1eded;
    opacity: 0.7;
}

/* counter end */


/* video modal start */
.modal-content {
    background-color: transparent !important;
    border: none;
}

/* video modal end  */

/* ELEGANT start */
.card-text-hover {
    transition: all 0.3s linear;
}

.card-text-hover:hover {
    color: #da9541 !important;
}

.card {
    overflow: hidden;
}

.card>img {
    width: 120%;
    height: 100%;
}

.new-card-img {
    transform: translate(-10%);
    transition: all 0.4s linear;
}

.new-card-img:hover {
    transform: translate(0%);
}

/* ELEGANT end */




/* footer start */


.footer {
    padding: 100px 0;
}

/* footer end */

/* MAIN END */

/* ---------------------------------------- */


/* TOP & SETTING START */
.top-btn {
    display: none;
}

.top-btn>a {
    padding: 10px 15px;
}

/* TOP & SETTING END */




/* TOGGLE START */

.bg-main {
    background-color: #cfcfcf;
}

/* TOGGLE END */





/* ---------------------------------- */
/* shop page css */
/* ---------------------------------- */





/* ---------------------------------- */
/* my account page css */
/* ---------------------------------- */

.my-bg-font {
    line-height: 80px;
    color: #c3c3c3;
}

.my-links {
    z-index: 6;
    bottom: 20%;
    right: 30%;
}



/* ---------------------------------- */
/* cart page css */
/* ---------------------------------- */
.cart-bill-img {
    width: 40px;
}

.outline-none {
    outline: none;
}

.cursor-p {
    cursor: pointer;
}

.border-down {
    border: 0;
    border-bottom: 2px solid white !important;
}

.search-bar{
    display: none;
}




/* ---------------------------------- */
/* admin page css */
/* ---------------------------------- */


.Empolyee-icon {
    height: 120px;
    width: 120px;
    border: 10px solid #1d87d3;
}





/* ---------------------------------- */
/* ASIDE START */
/* ---------------------------------- */

aside {
    position: fixed;
    top: 140px;
    bottom: 0;
    left: 0;
    width: var(--aside-width);
    background-color: var(--aside-light);
    z-index: 7;
}
.chart{
    /* margin-left: var(--aside-width); */
}

.nav {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.right-offer {
    position: relative;
}

.right-offer::after {
    content: 'Hot';
    position: absolute;
    right: 10%;
    top: calc(50% - (17px/2));
    color: white;
    font-size: 10px;
    background-color: rgb(233, 99, 36);
    padding: 2px 8px 1px;
    border-radius: 5px;
}

.font-hover:hover .nav-option {
    color: white;
}

.font-hover:hover .nav1-option {
    color: white;
}

/* SUB UL */
.nav-option {
    color: var(--font-color4) !important
}

.nav-option1 {
    color: var(--font-color4);
}

.nav-option1:hover {
    color: white;
}

.nav-option1::before {
    content: '-';
    position: absolute;
    left: -15px;
}

.right-offer2 {
    position: relative;
}

.right-offer2::after {
    content: 'New';
    position: absolute;
    right: 10%;
    top: calc(50% - (17px/2));
    color: white;
    font-size: 10px;
    font-weight: 500;
    background-color: rgb(6, 185, 185);
    padding: 2px 6px 1px;
    border-radius: 5px;
}



/* SCROLL BAR */
.nav::-webkit-scrollbar {
    width: 6px;
}
.nav::-webkit-scrollbar-thumb {
    background: #adb7c9;
    border-radius: 10px;
}
.nav::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ASIDE END */