*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
	font-family:var(--font);
	text-decoration:none;
	list-style: none;
}
html{scroll-behavior: smooth;}
										/* ROOTS START */
:root{
	--header-bg: #292e32;
	--search-bg: #f3f3f9;

	--aside-light: #405189;
	--aside-dark: #212529;

	--vz-alert-color: #b98a38;
    --vz-alert-bg: #fef4e4;

	--font-color: #878a99;
	--font-color1: #4a4b52;
	--font-color2: #3a3b3f;
	--font-color3: #838fb9;
	--font-color4: #a5b3e9;
	--font-color5: rgb(54, 159, 190);

	--btn-hover-color: #dce8ff;
	--btn-hover-bg: rgba(53, 119, 241, 0.1);
	--btn-hover-border-color: transparent;
	--bottom-border: rgb(218, 222, 223);

	--btn-bg1:rgb(240, 240, 240);
	--btn-bg2: #dce8ff;

	--background-light: #f3f3f9;
	--background-dark: #1a1d21;

	--sub-back-dark: #212529;

	--white: #ffffff;
	--black: #000000;
	
	--font: poppins;
	--transition2: all 0.2s linear;
	--transition4: all 0.4s linear;
	--transition8: all 0.8s linear;
	--gutter-width: 12px;

	--header-height: 70px;

	--aside-width: 250px;
	--aside-width-sm: 70px;

	--space: 14px;
}
										/* ROOTS END */

										/* WIDTH CLASS START */
.w1 {width : 8.33%;}
.w2 {width : 16.66%;}
.w3 {width : 25%;}
.w4 {width : 33.33%;}
.w5 {width : 41.66%;}
.w6 {width : 50%;}
.w7 {width : 58.33%;}
.w8 {width : 66.66%;}
.w9 {width : 75%;}
.w10 {width : 83.33%;}
.w11 {width : 91.66%;}
.w12 {width : 100%;}
.mw20 {max-width: 1320px;}
.mw40 {max-width: 1540px;}

.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12{ 
	padding: 0 var(--gutter-width);
}

.height{ height: 100%}
										/* WIDTH CLASS END  */
										
										/* OTHER CLASS START */
.d-flex {display:flex;}
.flex-wrap {flex-wrap:wrap;}
.justify-center {justify-content:center;}
.justify-between {justify-content :space-between;}
.justify-evenly {justify-content: space-evenly;}
.align-center {align-items: center;}
.d-block {display:block;}
.text-center {text-align:center;}
.float-r{float: right;}


.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--gutter-width));
	margin-right: calc(-1 * var(--gutter-width));
}

										/* OTHER CLASS END */