body {
    height: 100vh;
    background: rgb(60, 19, 124);
    background: linear-gradient(90deg, rgba(60, 19, 124, 1) 0%, rgba(198, 46, 60, 1) 23%, rgba(106, 36, 140, 1) 39%, rgba(235, 60, 60, 1) 50%, rgba(58, 48, 113, 1) 69%, rgba(193, 7, 78, 1) 79%, rgba(14, 57, 125, 1) 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.title>h1 {
    font-size: 60px;
    font-weight: 800;
    background: #B8E1FC;
    background: linear-gradient(to right, #B8E1FC 15%, #10403D 50%, #78F1FF 50%, #56C5DB 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

.login-form {
    background: rgb(143, 77, 244);
    background: linear-gradient(193deg, rgba(143, 77, 244, 0.4528965883228291) 0%, rgba(235, 60, 60, 0.2624203978466386) 50%, rgba(149, 7, 193, 0.2035968684348739) 79%, rgba(14, 57, 125, 0.2484147956057423) 100%);
    border-radius: 10%;
    padding: 50px;
}

.login-img {
    padding: 25px;
}

.login-img>img {
    width: 150px;
    border-radius: 100%;
}

form input {
    padding: 10px 50px 10px 20px;
    background-color: transparent;
    color: rgb(235, 235, 235);
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid rgb(252, 177, 177);
    outline: none;
    font-size: 20px;

}

.forg-pass {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.forg-pass>a {
    text-align: center;
    padding: 10px;
    color: black;
}

.forg-pass>a:hover {
    color: rgb(218, 218, 218);
}

form>a {
    color: black;
    padding: 15px 130px;
    /* background: transparent; */
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    border: 1px dotted rgb(60, 19, 124);
    background: rgb(60, 19, 124);
    background: linear-gradient(18deg, rgba(60, 19, 124, 1) 0%, rgba(235, 60, 60, 1) 50%, rgba(193, 7, 78, 1) 79%, rgba(14, 57, 125, 1) 100%);

}

form>a:hover {
    border: 1px dotted whitesmoke;
    color: lightblue;
}