@media(min-width: 576px){
    .w1-sm {width : 8.33%;}
    .w2-sm {width : 16.66%;}
    .w3-sm {width : 25%;}
    .w4-sm {width : 33.33%;}
    .w5-sm {width : 41.66%;}
    .w6-sm {width : 50%;}
    .w7-sm {width : 58.33%;}
    .w8-sm {width : 66.66%;}
    .w9-sm {width : 75%;}
    .w10-sm {width : 83.33%;}
    .w11-sm {width : 91.66%;}
    .w12-sm {width : 100%;}
    .container{
        width: 540px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 0, 217); */
    }
    .main-head>h3{
        font-size: 15px;
    }
    .main-head>span{
        font-size: 13px;
    }
    .main-footer{
        font-size: 13px;
    }
    .upgrade-right{
        display: block;
    }
}   
@media(min-width: 768px){ 
    .w1-md {width : 8.33%;}
    .w2-md {width : 16.66%;}
    .w3-md {width : 25%;}
    .w4-md {width : 33.33%;}
    .w5-md {width : 41.66%;}
    .w6-md {width : 50%;}
    .w7-md {width : 58.33%;}
    .w8-md {width : 66.66%;}
    .w9-md {width : 75%;}
    .w10-md {width : 83.33%;}
    .w11-md {width : 91.66%;}
    .w12-md {width : 100%;}
    .container{
        width: 720px;
        margin: 0 auto;
        /* border: 1px solid rgb(0, 68, 253); */
    }

    .head-menu>li{ width: 45px; }
    aside, .nav-btn, .search-bar{ display: block;}
    main, header {margin-left: var(--aside-width);}

    .aside-hide-btn{
        display: none;
    }
   
}
@media(min-width: 992px){
    .w1-lg {width : 8.33%;}
    .w2-lg {width : 16.66%;}
    .w3-lg {width : 25%;}
    .w4-lg {width : 33.33%;}
    .w5-lg {width : 41.66%;}
    .w6-lg {width : 50%;}
    .w7-lg {width : 58.33%;}
    .w8-lg {width : 66.66%;}
    .w9-lg {width : 75%;}
    .w10-lg {width : 83.33%;}
    .w11-lg {width : 91.66%;}
    .w12-lg {width : 100%;}
    .container{
        width: 960px;
        margin: 0 auto;
        /* border: 1px solid rgb(43, 255, 0); */
    }
    .owner{
        margin: 0px 15px;
        padding: 3px 15px;
    }
    .owner-name-h2{
        font-size: 13px;
        font-weight: 600;
    }
    .owner-name>span{
        font-size: 12px;
        font-weight: 500;
    }
    
    .head-right{ display: flex;}
    .head-right-bar{display: none;}

    .top-btn{
        right: 60px;
        bottom: 140px;
    }
    .top-btn>a{
        font-size: 14px;
        padding: 5px 10px;
    }
    .setting-btn{
        right: 50px;
        bottom: 80px;
    }
    .setting-btn>a{
        font-size: 20px;
        padding: 10px 25px;
    }
    .setting-btn a i{
        top: calc(50% - (20px/2));
        left: calc(50% - (20px/2));
    }
   
}
@media(min-width: 1200px){
    .w1-xl {width : 8.33%;}
    .w2-xl {width : 16.66%;}
    .w3-xl {width : 25%;}
    .w4-xl {width : 33.33%;}
    .w5-xl {width : 41.66%;}
    .w6-xl {width : 50%;}
    .w7-xl {width : 58.33%;}
    .w8-xl {width : 66.66%;}
    .w9-xl {width : 75%;}
    .w10-xl {width : 83.33%;}
    .w11-xl {width : 91.66%;}
    .w12-xl {width : 100%;}
    .container{
        width: 1140px;
        margin: 0 auto;
        /* border: 1px solid rgb(242, 247, 0); */
    }
    .owner{
        margin: 0px 25px;
        padding: 12px 15px;
    }
    
    .left-part>h4{
        font-size: 18px;
        padding: 5px 0px 5px;
    }
    .left-part>span{
        font-size: 10px;
    }
    .right-part>i{
        font-size: 16px;
        padding: 8px 6px;
    }
    
}
@media(min-width: 1400px){
    .w1-xxl {width : 8.33%;}
    .w2-xxl {width : 16.66%;}
    .w3-xxl {width : 25%;}
    .w4-xxl {width : 33.33%;}
    .w5-xxl {width : 41.66%;}
    .w6-xxl {width : 50%;}
    .w7-xxl {width : 58.33%;}
    .w8-xxl {width : 66.66%;}
    .w9-xxl {width : 75%;}
    .w10-xxl {width : 83.33%;}
    .w11-xxl {width : 91.66%;}
    .w12-xxl {width : 100%;}
    .container{
        width: 1320px;
        margin: 0 auto;
        /* border: 1px solid rgb(250, 1, 1); */
    }
    .left-part>h4{
        font-size: 24px;
        padding: 20px 0px 10px;
    }
    .left-part>span{
        font-size: 13px;
    }
    .right-part>i{
        font-size: 20px;
        padding: 11px 10px;;
    }
    .Users{
        margin: var(--space) 0px var(--space) 12px;
    }
    .Sessions{
        margin: var(--space) 4px var(--space) 8px;
    }
    .Duration{
        margin: var(--space) 0px var(--space) 12px;
    }
    .Bounce{
        margin: var(--space) 4px var(--space) 8px;
    }
    .upgrade{
        margin: var(--space) 4px var(--space) 12px;
    }
    .Audiences-Metrics{
        margin: var(--space) 0px var(--space) 15px;
    }
    .Audiences-Sessions{
        margin: var(--space) 10px var(--space) 0px;
    }
    .Users-by-Devics{
        margin: var(--space) 0px var(--space) 15px;
    }
    .Top-Pages{
        margin: var(--space) 10px var(--space) 0px;
    }
    .Sessions-by-Countries{
        margin: var(--space) 10px var(--space) 0px;
    }
    .Live-Users{
        margin: var(--space) 4px var(--space) 0px;
    }
    #user-dev-chart{
        padding: 0px 0px;
    }
    #aud-ses-chart{
        padding: 17px 0px;
    }
   
}